{% extends 'base.html' %}
{% load staticfiles %}


{% block universal %}
<p align="center"><b><font color="#0000CD"><font size="7"><font face="Georgia, serif">Чёт смешное успешно добавлено</font></font></font><font face="Georgia, serif"><img alt="smiley" height="20" src="http://filyanin.ru/_pages/service/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" width="20"><img alt="yes" height="20" src="http://filyanin.ru/_pages/service/ckeditor/plugins/smiley/images/thumbs_up.gif" title="yes" width="20"></font></b></p>

<h2><b><a href="/yumor/">Назад на юмор<img alt="smiley" height="20" src="http://filyanin.ru/_pages/service/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" width="20"><img alt="smiley" height="20" src="http://filyanin.ru/_pages/service/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" width="20"><img alt="smiley" height="20" src="http://filyanin.ru/_pages/service/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" width="20">
</a>&nbsp;</b></h2>
<h2><b><a href="/yumor/dobavit/">Добавить еще</a>&nbsp;</b></h2>
{% endblock %}